<form action="/products/{{data.id_produk}}" method="post">
    Nama Produk <br />
    <input type="text" value="{{data.nama_produk}}" style="width: 60em" , name="nama_produk"><br />
    Harga <br />
    <input type="text" value="{{data.harga}}" style="width: 60em" , name="harga"><br />
    Kategori <br />
    <input type="text" value="{{data.kategori}}" style="width: 60em" , name="kategori"><br />
    Status <br />
    <input type="text" value="{{data.status}}" style="width: 60em" , name="status"><br />
    <input type="submit" value="simpan"><br />
</form>

<button onClick="history.back()">gak jadi edit</button>